{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "plugins": [
    "flowtype",
    "sort-class-members"
  ],

  "settings": {
    "import/core-modules": ["ui", "utils"],
    "import/extensions": [
      ".js", ".json", ".png"
    ]
  },

  "env": {
    "jest": true
  },

  "globals": {
    "__DEV__": true,
    "ApiResp": true,
    "FormData": true,
    "fetch": true,
    "Headers": true,
    "log": true,
    "WebSocket": true
  },

  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "camelcase": 0,
    "class-methods-use-this": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "eol-last": [2, "never"],
    "flowtype/boolean-style": [2, "boolean"],
    "flowtype/delimiter-dangle": [2, "always-multiline"],
    "flowtype/generic-spacing": [2, "never"],
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/object-type-delimiter": [2, "semicolon"],
    "flowtype/semi": 2,
    "flowtype/space-after-type-colon": [2, "always", {
      "allowLineBreak": false
    }],
    "flowtype/space-before-generic-bracket": [2, "never"],
    "flowtype/space-before-type-colon": [2, "never"],
    "flowtype/union-intersection-spacing": [2, "always"],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true,
      "mode": "minimum"
    }],
    "max-len": [1, 80],
    "no-console": 0,
    "no-multi-spaces": [2, { "exceptions": {
      "Property": true,
      "VariableDeclarator": true,
      "AssignmentExpression": true,
      "ObjectExpression": true,
      "ClassProperty": true
    }}],
    "no-param-reassign": 0,
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-return-assign": 0,
    "no-use-before-define": 0,
    "prefer-template": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/jsx-no-bind": 0,
    "react/react-in-jsx-scope": 0,
    "react/sort-comp": 0,
    "sort-class-members/sort-class-members": [2, {
      "order": [
        "[static-properties]",
        "[properties]",
        "[static-methods]",
        "constructor",
        "[lifecycle]",
        "[event-handlers]",
        "[methods]",
        "[everything-else]",
        "[sub-renderers]",
        "render"
      ],
      "groups": {
        "event-handlers": [{ "name": "/on.+/", "type": "method" }],
        "sub-renderers": [{ "name": "/^render.+$/", "type": "method" }],
        "lifecycle": [
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount"
        ]
      },
      "accessorPairPositioning": "getThenSet"
    }],

    "spaced-comment": [2, "always", {
      "line": { "markers": ["*package", "!", ",", "noinspection"] },
      "block": {
        "balanced": true,
        "markers": ["*package", "!", ",", "noinspection"],
        "exceptions": ["*"] }
    }]
  }
}