{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "camelcase": 0,
    "class-methods-use-this": 0,
    "eol-last": [2, "never"],
    "max-len": [2, 80]
  }
}